<table>
	<tr>
		<td>
		<video width="200px" controls autoplay>
			<source src="/files/{{video.path}}" type="video/mp4">
		</video>
		</td>
		<td><button id="took_pill">Took pill</button><button id="did_not_take_pill">Did not take pill</button></td>
	</tr>
</table>

<script>
	let took_pill = document.getElementById("took_pill");
	let did_not_take_pill = document.getElementById("did_not_take_pill");

	did_not_take_pill.onclick = function(){
		window.location = "/did_not_take_pill/{{video.id}}";
	}

	took_pill.onclick = function(){
		window.location = "/took_pill/{{video.id}}";
	}
</script>